body {
  padding:0;
  margin: 0;
 
}
.bg {
  width: 1600px;
  height: 4450px;
  background-color: #212227;
}
.hero {
  width: 1600px;
  height: 900px;
  background-color:	white;
  background-image:	url("../img/hero image.png");
}
.color {
  width: 1600px;
  height: 900px;
  background-color:rgba(31,225,237,0.5);
}
.color1 {
  width: 1129px;
  height: 900px;
  margin-left: 470px;
  background-image: url("../img/slanted.png");
}
.hero .text {
  position: absolute;
  top: 360px;
  left:200px;
  width: 535px;
  height: 255px;
}
.text1,
.text2 {
  font-size: 72px;
  line-height: 1.2;
  font-family: Fira Sans light;
}
.text3 {
  font-size: 30px;
}
.hero .logo {
  position:	absolute;
  width: 80px;
  height: 80px;
  top: 90px;
  left:	210px;
  background-image:	url("../img/container1.png");
  color: white;
  font-size: 60px;
  text-align: center;
}
.menu {
  position: absolute;
  display:block;
  width: 60px;
  height: 30px;
  left: 1335px;
  top: 105px;
  padding-top: 30px;
  font-size: 14px;
  background-image:	url("../img/shape1.png");
  background-repeat:	no-repeat;
}
 a {
  text-decoration: none;
  color: white;
}
 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu a {
  width: 100px;
  transition: 0.5s all;
}
.menu_drop a:hover {
  background: black;
  padding: 5px 5px 5px 5px;
  line-height: 1.5;
}
.menu_list a {
  color: black;
}
.menu_drop a {
  color: white;
  background: black;
  border-radius: 30px;
}
.menu_list {
  position: relative;
  left: -10px;
  top: 10px;
  width: 50px;
  height: 50px;
}
.menu_drop {
  position: absolute;
  left: 100%;
  opacity: 0;
  top: -9999em;
  transition: 0.5s opacity;
  border-top: 10px solid transparent;
}
.menu:hover .menu_drop {
  top: -45px;
  left: 50px;
  opacity: 1;
}
.about {
  width: 1600px;
  height: 500px;
  background-color:	white;
}
.leftcolum {
  display:inline-block;
  width: 800px;
  height: 500px;
  background-image:	url("../img/photo.png");
}
.color2 {
  width: 800px;
  height: 500px;
  background-color: rgba(237,31,36,61%);	
}
.rightcolum {
  position: absolute;
  display:inline-block;
  width: 800px;
  height: 500px;
  color: black;
}
.rightcolum .text2 {
  margin-top: 120px;
  padding-left: 60px;
  font-size: 24px;
}
.rightcolum .text4 {
  padding-left: 60px;
  width: 470px;
  font-family: Fira Sans light;
  font-size: 36px;
}
.gallery {
  width: 1600px;
  height: 1030px;
}
.photo1 {
  display: inline-block;
  width:400px;
  height:515px;
  background-image: url("../img/photo1.png")
}
.photo2 {
  display: inline-block;
  width: 400px;
  height: 515px;
  margin-left: -4px;
  background-image: url("../img/photo2.png");
}
.photo3 {
  display: inline-block;
  width: 400px;
  height: 515px;
  margin-left: -4px;
  background-image: url("../img/photo3.png");
}
.photo4 {
  display: inline-block;
  width: 400px;
  height: 515px;
  margin-left: -5px;
  background-image: url("../img/photo4.png");
}
.conteiner2 {
  display: inline-block;
  width: 800px;
  height: 515px;
  margin-top: -6px;
  vertical-align: top;
  background-image: url("../img/container2.png");
}
.text5 {
  margin-top: 125px;
  margin-left: 210px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-family: Fira Sans Bold;
}
.text6 {
  width: 490px;
  margin-left: 210px;
  font-size: 36px;
  color: white;
  font-family: Fira Sans light;
}
.conteiner2 .button {
  position: relative;
  width: 280px;
  height: 55px;
  margin-left: 210px;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  font-family: Fira Sans Bold;
}
.photo5 {
  display: inline-block;
  width: 400px;
  height: 515px;
  margin-left: -5px;
  margin-top: -6px;
  background-image: url("../img/photo5.png");
}
.conteiner3 {
  display: inline-block;
  width: 400px;
  height: 515px;
  margin-left: -4px;
  margin-top: -6px;
  background-image: url("../img/container3.png");
}
.music {
  width: 1600px;
  height:800px;
  margin-top:-5px;
  background-image:url("../img/photo6.png");
}
.conteiner4 {
  display: inline-block;
  width: 400px;
  height: 800px;
  background-image: url("../img/container4.png");
}
.conteiner5 {
  display: inline-block;
  width: 400px;
  height: 500px;
  margin-left: -5px;
  background-image: url("../img/container5.png");
  vertical-align:top;
}
.text7 {	
  width: 280px;
  margin-top: 140px;
  margin-left: 60px;
  font-size: 24px;
  color:#2ebd59;
}
.text7 span {
font-size:18px;
}
.text8{
  width: 258px;
  margin-left: 60px;
  color: white;
  font-family: Fira Sans Regular;
}
.conteiner5 .button1 {
  position: relative;
  top: 50px;
  width: 175px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 60px;
  color: #2ebd59;
  font-size: 18px;
  border-radius: 30px;
  border: 2px solid #2ebd59;
  text-align: center;
  text-decoration: none;
}
.button,
.button2,
.button3 {
  text-decoration: none;
  color: white;
  }
.spotify {
  display: inline-block;
  width: 800px;
  height: 515px;
  background-image: url("../img/container6.png");
  vertical-align: top;
}
.text9 {		
  margin-left: 210px;
  margin-top: 140px;
  color: white;
  font-size: 24px;
  font-family: Fira Sans Bold;
}
.text10 {
  width: 491px;
  margin-left: 210px;
  color: white;
  font-size: 36px;
  font-family: Fira Sans light; 
}
.button2 {
  width: 275px;
  margin-left: 210px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  font-family: Fira Sans Bold;
  color: white;
  font-size: 18px;	
}
.itunes {
  display: inline-block;
  width: 800px;
  height: 515px;
  margin-left: -5px;
  background-image: url("../img/container7.png");
}
.text11 {
  margin-left: 210px;
  margin-top: 140px;
  color: white;
  font-size: 24px;
  font-family: Fira Sans Bold;
}
.text12 {
  width: 460px;
  margin-left: 210px;
  color: white;
  font-size: 36px;
  font-family: Fira Sans light; 
}
.button3 {
  width: 275px;
  margin-left: 210px;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  font-family: Fira Sans Bold;
}
.colum1 {
  display: inline-block;
  width: 285px;
  height: 360px;
  color: white;
  margin-left: 210px;
  margin-top: 100px;
}
.text13,
.text16,
.text18 {
  width: 160px;
  color: white;
  font-family: Fira Sans Bold;
  font-size: 18px;
}
.text14,
.text15,
.text17,
.text20 {
font-size: 14px;
color: #919191;
}
.text13,
.text19 {
  font-family: Fira Sans Bold;
  font-size: 18px;
}
.text14 {
  width: 270px;

  
}
.text15 {
  margin-top: 30px;
}
.colum2 {
  display: inline-block;
  width: 165px;
  height: 350px;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 115px;
}
.contact {
  display: inline-block;
  width: 165px;
  height: 150px;
  color: white;
  vertical-align: top;
}
.social {
  display: inline-block;
  width: 165px;
  height: 150px;
}
.face {
  width: 165px;
  height:140px;
  color: white;
 }
.simvol{
  display: inline-block;
  width: 20px;
  height: 140px;
  font-size: 14px
}
.simvol .fb {
  width: 16px;
  height: 16px;
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  margin-top:15px;
}
.simvol .tw {
  width: 16px;
  height: 16px;
  background-image: url("../img/twiter.png");
  background-repeat: no-repeat;
  margin-top:15px;
}
.simvol .ins {
  width: 16px;
  height: 16px;
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  margin-top:15px;
}
.simvol .sp {
  width: 16px;
  height: 16px;
  background-image: url("../img/spotify.png");
  background-repeat: no-repeat;
  margin-top:10px;
}
.name {
  display: inline-block;
  width: 125px;
  height: 140px;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: top;
  color: #919191;
  font-family: Fira Sans Bold;
  margin-top:15px;
}
.name a {
  text-decoration: none;
  color: #919191;
}
.colum3 {
  display: inline-block;
  width: 480px;
  height: 380px;
  margin-top: 100px;
  margin-left: 140px;	
  vertical-align: top;
  color: white;
}
.address {
  display: block;
  width: 480px;
  height: 60px;
  background-image: url("../img/form1.png");
}
.pole {
  width: 480px;
  height:60px;
  position: relative;
  top: -40px;
  padding-left: 20px;
  color: grey;
  border: none;
  background-color: #68696c;
}
.send {
  width: 18px;
  height: 18px;
  background-image: url("../img/send.png");
  position: relative;
  top: -80px;
  left: 445px;
  border: none;
}
.text21 {
  margin-left: 20px;
  padding-top: 25px;
  color:#919191;
  font-size:14px;
}
.text22 {
  position: relative;
  left: 230px;
}
.sponsor {
  margin-top: 30px;
  font-size: 18px;
  font-family: Fira Sans Bold;
}
.logo {
  display: block;
  width: 480px;
  height: 85px;
  margin-top: 20px;
}
.logo1 {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("../img/image.png");
  font-size: 12px;
}
.logo2 {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("../img/image.png");
  margin-left: 25px;
  font-size: 12px;
}
.logo3{
  display: inline-block;
  font-size: 12px;
  width: 80px;
  height: 80px;
  background-image: url("../img/image.png");
  margin-left: 25px;
}
.logo span {
  position: relative;
  top: 35px;
  left: 25px;
}
.text3 .joe {
  font-family: Fira Sans Bold;
}
.text2 .sed {
  font-family: Fira Sans Bold;
}