body {
  width: 1600px;
  height: 4850px;
  margin: 0;
  padding: 0;	

}
.home {
  width: 1500px;
  height: 750px;
  margin: 50px;
  background-image: url("../img/background-a.png");
}
.warstwa {
  width: 1500px;
  height: 750px;
  background-image: url("../img/fotograf-menu.png");
  filter: grayscale(100%); 
}
.big-a {
  position: relative;
  width: 459px;
  height: 749px;
  background-image: url("../img/a.png");
  top: -80px;
}
.text-apollo {
  position: absolute;
  left: 255px;
  top: 280px;
  font-size: 50px;
 }
.text-lorem {
  width: 420px;
  position: absolute;
  top: 365px;
  left: 255px;
  font-size: 18px;
  }
.menu {
  position: absolute;
  width: 20px;
  height: 15px;
  top: 90px;
  left: 1470px;
  background-image: url("../img/listmenu.png");
}
.menu a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-drop a:hover {
  background: black;
  padding: 5px  5px  5px  5px;
  line-height: 1.5;
  color:white;
}
.menu-list a {
  color: black;
}
.menu-drop {
  opacity: 0;

  transition: 0.5s  opacity;
  border-top: 10px  solid  transparent;

}
.menu:hover .menu-drop {
  top: -45px;
  left: 50px;
  opacity: 1;
}
.text-menu {
  position: relative;
  left: -60px;
  bottom: 4px;
  font-size: 18px;
}
.verticalline {
  position: relative;
  width: 2px;
  height: 80px;
  background-image: url("../img/verticalline.png");
  left: 205px;
  top: 450px;
}
.about {
  width: 1500px;
  height: 750px;
  margin: 50px;
  background-image: url("../img/background-about.png");
}
.p-simvol {
  display: inline-block;
  width: 369px;
  height: 749px;
  margin-left: 90px;
  background-image: url("../img/p.png");
}
.warstwa-about {
  width: 516px;
  height: 521px;
  position: relative;
  top:  120px;
  filter: grayscale(100%)  contrast(107%)  brightness(168%); 
  background-image: url("../img/camera.png");
}
.facebook {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../img/square-grey.png");
}
.letter-facebook {
  width: 8px;
  height: 18px;
  background-image: url("../img/facebook.png");
  margin-top: 8px;
  margin-left: 12px;
  background-repeat: no-repeat;
}
.instagram {
  display:inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../img/square-black.png");
  margin-left:20px;
}
.instagram-image {
  width: 18px;
  height: 18px;
  background-image: url("../img/instagram.png");
  margin-top: 8px;
  margin-left: 8px;
  background-repeat: no-repeat;
}
.twitter {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../img/square-grey.png");
  margin-left: 20px;
}
.twitter-image {
  width: 18px;
  height:14px;
  background-image: url("../img/twitter.png");
  margin-top: 8px;
  margin-left: 8px;
  background-repeat: no-repeat;
}
.pic {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image:url("../img/square-grey.png");
  margin-left: 20px;
}
.pic-image {
  width: 14px;
  height: 18px;
  background-image: url("../img/pic.png");
  margin-top: 8px;
  margin-left: 10px;
  background-repeat: no-repeat;
}
.social {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 40px;
  bottom: 110px;
  left: 235px;
}
.text-excepteur {
  position: relative;
  display: inline-block;
  bottom: 240px;
  width: 625px;
  height: 245px;
  left: 20px;
}
.text-myname {
  position: relative;
  display: inline-block;
  bottom: 600px;
  width: 395px;
  height: 55px;
  left: 830px;
  font-size: 50px;
}
.cherta {
  display: inline-block;
  width: 80px;
  height: 2px;
  background-image: url("../img/horizontalline.png");
  position: relative;
  bottom: 615px;
  left: 300px;
}
.portfolio {
  width: 1483px;
  height: 750px;
  display: block;
  background-image: url("../img/portfolio-photo.png");
  margin: 50px 60px;
}

.prev-portfolio {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: white;
  position: relative;
  top: 340px;
  left: 40px;
  z-index: 2;
}
.prev-portfolio .prevleft {
  font-size: 50px;
  font-family: "ariel";
}
.next-portfolio {
  display: inline-block;
  width: 75px;
  height: 75px;
  position: relative;
  top: 340px;
  left: 1290px;
  z-index: 3;
}
.next-portfolio .nextright {
  font-size: 50px;
  font-family: "ariel";
}
.portfolionext{
  width: 1500px;
  height: 750px;
  background-image: url("../img/background-l.png");
  margin: 50px;
}
.big-l {
  display: inline-block;
  width: 302px;
  height: 749px;
  background-image: url("../img/l.png");
  filter: contrast(87%)  brightness(100%);
  position: relative;
  left: 95px;
}
.photo {
  display:inline-block;
  width: 759px;
  height: 449px;
  background-image: url("../img/bridge.png");
  background-repeat: no-repeat;
  position: relative;
  left: 340px;
  bottom: 150px;
}
.phototext {
  display:inline-block;
  width: 435px;
  height: 210px;
  position: relative;
  bottom: 535px;
  left: 180px;
}
.text-ut {
  font-size: 50px;
}
.text-duis {
  font-size: 18px;
}	
.portfolio-galery {
  display: block;
  width: 1500px;
  height: 750px;
  background-image: url("../img/background-l.png");
  margin: 50px;
}
.l-galery {
  display: inline-block;
  width: 302px;
  height: 749px;
  background-image: url("../img/l.png");
  filter: contrast(87%)  brightness(100%);
  position: relative;
  left: 95px;
}
.element {
  margin: 0  auto;
  width: 1335px;
  height: 450px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  position: relative;
  top: 195px;
  z-index: 1;
  
}
.left {
  display: inline-block;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 330px;
  left: -33px;
  cursor: pointer;
  background: white;
  z-index: 2;
}
.right {
  display: inline-block;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 330px;
  left: 1300px;
  cursor: pointer;
  background: white;
  z-index: 3;
}
.left:active ~ .element img,
.right:active ~ .element img {
  transition: 2s  linear;
}
.left:active ~ .element img {
  transform: translateX(0);
}
.right:active ~ .element img {
  transform: translateX(-20em);
}
.element img {
  width: 540;
  height: 360;
  transition: 99999s;  


}
.element img:hover {
  cursor: pointer;
  width: 650px;
}


.left .stleft {
  font-size: 50px;
  font-family: "ariel";
}
.right .stright {
  font-size: 50px;
  font-family: "ariel";
}
.contact {
  width: 1500px;
  height: 750px;
  background-image: url("../img/background-a.png");
  margin: 50px;
}
.okopia {
  display: inline-block;
  width: 440px;
  height: 750px;
  background-image: url("../img/o-kopia.png");
}	
.forma{
  display: inline-block;
  position: relative;
  bottom: 100px;
  width: 610px;
  height: 300px;
  margin-left: 20px;
}
.email {
  display: inline-block;
  width: 280px;
  height: 45px;
  font-size: 16px;
}
.subject {
  display: inline-block;
  width: 280px;
  height: 45px;
  margin-left:30px;
  font-size: 16px;
}
.message {
  display: inline-block;
  width: 600px;
  height: 133px;
  margin-top: 33px;
  font-size: 16px;
}
.send {
  width: 600px;
  height: 45px;
  margin-top: 33px;
  font-size: 16px;
  color: white;
  background: black;
}
.contact-say {
  display: inline-block;
  width: 210px;
  height: 70px;
  position: relative;
  bottom: 605px;
  right: 400px;
  font-size: 50px;
  }
.contact-duis {
  display: inline-block;
  width: 980px;
  height: 50px;
  position: relative;
  bottom: 580px;
  left: 260px;
}
.centr {
  padding-left: 200px;
}
			